*{
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
}

.App ul{
  list-style: none;
  padding-left: 0;
}

.App li{
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.App input{
  padding: 5px 10px;
  border-radius: 4px;
  max-width: 300px;
  font-size: 20px;
}